/* Colors */
@blue: #428bca;
@darkBlue: #003869;

@footerHeight: 60px;

@import "animations.less";

html {
    height: 100%;
}

body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: 100%;
    margin: 0 auto -@footerHeight * 2;
}

footer {
    height: @footerHeight;
}

.top-buffer {
    margin-top: 10px;
}

.well.bg-primary {
    background-color: @blue;
    border: 1px solid @darkBlue;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
}

.creature.first {
    cursor: pointer;
}

.creature.first:hover {
    background-color: #4997DA;
}

.creature.first:active {
    background-color: #3F81BB;
}

.creature.ng-enter {
    /*.zoom-in-down-animation;  */
    .fade-in-up-animation(1s);
}

.creature.ng-leave {
    .fade-out-up-animation(0.5s);
    /*.zoom-out-down-animation(0.5s); */
}

.encounters.ng-enter {
    .fade-in-right-animation(0.5s);
}

.encounters.ng-leave {
    .fade-out-left-animation(0.5s);
}

.initiatives.ng-enter {
    .fade-in-left-animation(0.5s);
}

.initiatives.ng-leave {
    .fade-out-right-animation(0.5s);
}

.flip.ng-hide-remove {
    .flip-in-x-animation(0.5s);
}

.invisibility.active, .bloodied.active {
    color: #a94442;
}

.console {
    textarea {
        -webkit-border-bottom-right-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomright: 0;
        -moz-border-radius-bottomleft: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;

        background-color: #696969 !important;
        color: #ffffff;

        resize: none;
    }

    .feedback {
        margin-bottom: 0;
    }

    .input-group {
        span {
            -webkit-border-top-left-radius: 0px;
            -moz-border-radius-topleft: 0px;
            border-top-left-radius: 0px;

            border-top: 0;
        }

        input {
            -webkit-border-top-right-radius: 0px;
            -moz-border-radius-topright: 0px;
            border-top-right-radius: 0px;

            border-top: 0;
        }
    }
}

.websocket-status {
    height: @footerHeight;
    position: relative;

    div {
        -webkit-border-top-left-radius: 4px;
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topleft: 4px;
        -moz-border-radius-topright: 4px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        height: 100%;
    }

    p {
        margin-top: 5px;
        text-align: center;
        font-weight: bold;
    }

    img {
        position: absolute;
        border-top: @footerHeight/3;
        left: 50%;
    }

    .connecting {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    .connected {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    .error {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    .closed {
        color: #8a6d3b;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }


    .container.ng-hide-remove {
        .fade-in-animation(1s);
    }

    .container.ng-hide-add {
        .fade-out-animation(0.5s);
    }
}

.token {
    padding: 4px;
    border: 3px rgb(131, 131, 131) solid;
    background-color: rgb(236, 236, 236);
    cursor: pointer;
}

.token.bloodied {
    padding: 4px;
    border: 3px #a94442 solid;
    background-color: #ebccd1;
    cursor: pointer;
}

.token.ng-hide-remove {
    .fade-in-animation(1s);
}

.token.ng-hide-add {
    .fade-out-animation(0.5s);
}

.token.medium {
    width: 100px;
    height: 100px;
}

.token.large {
    width: 140px;
    height: 140px;
}
