<nav class="navbar navbar-default" role="navigation" data-ng-controller="NavBarController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Initiative Roller</a>
        </div>

        <div class="navbar-collapse" collapse="isCollapsed">
            <ul class="nav navbar-nav">
                <li><a href="#/initiatives" id="initiativesLink">Initiatives</a></li>
                <li><a href="#/encounters" id="adminLink">Encounters</a></li>
                <li><a href="#/board" id="boardLink">Board</a></li>
                <li><a href="#/editor" id="editorLink">Editor</a></li>
            </ul>
        </div>
    </div>
</nav>