<div class="col-md-12 ng-cloak" data-ng-cloak data-ng-init="init()" data-ng-swipe-right="pageService.goToInitiatives()"
     data-ng-swipe-left="pageService.goToBoard()">
    <div id="encounterControls">
        <div class="panel panel-default flip" data-ng-hide="isCreateEncounterOpen || isUpdateEncounterOpen">
            <div class="panel-body">
                <div class="col-md-10">
                    <select id="selectEncounter" class="form-control" data-ng-model="selectedEncounter"
                            data-ng-options="encounter.name for encounter in encounters">
                        <option value="">Select encounter</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default" data-ng-click="selectEncounterToUpdate(creature)"
                                data-ng-disabled="!isAnEncounterSelected()"><span
                                class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-default" data-ng-click="openCreateEncounterView()"><span
                                class="glyphicon glyphicon-plus"></span></button>
                    </div>
                </div>
            </div>
        </div>
        <div id="createEncounterControls" class="panel panel-default flip" data-ng-show="isCreateEncounterOpen">
            <div class="panel-body">
                <div class="col-md-10">
                    <input type="text" class="form-control" data-ng-model="newEncounter.name"/>
                </div>
                <div class="col-md-2">
                    <div class="btn-group pull-right">
                        <button class="btn btn-primary" data-ng-click="createEncounter()">Save</button>
                        <button class="btn btn-default" data-ng-click="closeCreateEncounter()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="updateEncounterControls" class="panel panel-default flip" data-ng-show="isUpdateEncounterOpen">
            <div class="panel-body">
                <div class="col-md-10">
                    <input type="text" class="form-control" data-ng-model="encounterToUpdate.name"/>
                </div>
                <div class="col-md-2">
                    <div class="btn-group pull-right">
                        <button class="btn btn-primary" data-ng-click="updateEncounter()">Save</button>
                        <button class="btn btn-default" data-ng-click="closeUpdateEncounter()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <accordion data-ng-if="isAnEncounterSelected()" id="adminControls" close-others="false">
        <accordion-group class="flip" is-open="isAddCreatureExpanded" is-disabled="false"
                         data-ng-hide="isConsoleOpen || isUpdateOpen">
            <accordion-heading>
                <div class="btn-group btn-block">
                    <h4 class="pull-left">Add creature</h4>
                    <button type="button" class="btn btn-default pull-right" title="Show console"
                            data-ng-click="toggleConsoleWindow($event)"><span
                            class="glyphicon glyphicon-retweet"></span>
                    </button>
                </div>
            </accordion-heading>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="creatureName">Name</label>

                    <div class="col-sm-4">
                        <input id="creatureName" type="text" class="form-control" placeholder="Creature name"
                               data-ng-model="newCreature.name"
                               data-ng-enter="createCreature()"
                               data-focus-on="focusName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="creatureType">Type</label>

                    <div class="col-sm-4">
                        <select id="creatureType" class="form-control" data-ng-model="newCreature.type">
                            <option value="monster">Monster</option>
                            <option value="player">Player</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" data-ng-if="newCreature.type == 'monster'">
                    <label class="col-sm-2 control-label" for="creatureInitiative">Initiative</label>

                    <div class="col-sm-4">
                        <input id="creatureInitiative" type="number" class="form-control"
                               data-ng-model="newCreature.initiative"
                               data-ng-enter="createCreature()"/>
                    </div>
                </div>
                <div class="form-group" data-ng-if="newCreature.type == 'player'">
                    <label class="col-sm-2 control-label" for="creatureCalculatedInitiative">Calculated
                        initiative</label>

                    <div class="col-sm-4">
                        <input id="creatureCalculatedInitiative" class="form-control"
                               data-ng-model="newCreature.calculatedInitiative"
                               data-ng-enter="createCreature()"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" data-ng-click="createCreature()"
                                data-ng-disabled="isCreatureNotValid(newCreature)">Create
                        </button>

                    </div>
                </div>
            </form>
        </accordion-group>
        <accordion-group class="flip" is-open="isConsoleExpanded" is-disabled="false" data-ng-show="isConsoleOpen">
            <accordion-heading>
                <div class="btn-group btn-block">
                    <h4 class="pull-left">Add creature</h4>
                    <button type="button" class="btn btn-default pull-right" title="Hide console"
                            data-ng-click="toggleConsoleWindow($event)">
                        <span class="glyphicon glyphicon-retweet"></span>
                    </button>
                </div>
            </accordion-heading>
            <form role="form" class="console" data-ng-controller="ConsoleController" data-ng-init="init()">
                <div class="form-group feedback">
                    <textarea readonly rows="20" class="form-control" data-ng-model="feedback" show-tail></textarea>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">&gt;</span>
                        <input type="text" class="form-control"
                               placeholder="Enter command (type 'help' for list of commands)"
                               data-ng-enter="sendInput()"
                               data-ng-model="input">
                    </div>
                </div>
            </form>
        </accordion-group>
        <accordion-group class="flip" is-open="isUpdateCreatureExpanded" is-disabled="false"
                         data-ng-show="isUpdateOpen">
            <accordion-heading>
                <div class="btn-group btn-block">
                    <h4 class="pull-left">Update creature</h4>
                </div>
            </accordion-heading>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="updateCreatureName">Name</label>

                    <div class="col-sm-4">
                        <input id="updateCreatureName" type="text" class="form-control" placeholder="Creature name"
                               data-ng-model="creatureToUpdate.name"
                               data-ng-enter="updateCreature()"
                               data-focus-on="focusName">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="updateCreatureInitiative">Initiative</label>

                    <div class="col-sm-4">
                        <input id="updateCreatureInitiative" type="number" class="form-control"
                               data-ng-model="creatureToUpdate.initiative"
                               data-ng-enter="createCreature()"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="updateCreatureCalculatedInitiative">Calculated
                        initiative</label>

                    <div class="col-sm-4">
                        <input id="updateCreatureCalculatedInitiative" class="form-control"
                               data-ng-model="creatureToUpdate.calculatedInitiative"
                               data-ng-enter="updateCreature()"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary" data-ng-click="updateCreature()"
                                data-ng-disabled="isCreatureNotValid(creatureToUpdate)">Update
                        </button>
                        <button type="button" class="btn btn-default" data-ng-click="closeUpdate()">Cancel
                        </button>
                    </div>
                </div>
            </form>
        </accordion-group>
    </accordion>

    <div id="creatureOverview" class="panel panel-default">
        <div class="panel-heading"><h4>Creatures</h4></div>

        <table class="table">
            <thead>
            <tr>
                <th class="col-sm-2">Calculated initiative</th>
                <th>Name</th>
                <th>Initiative</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="creature in selectedEncounter.creatures | orderBy : '-calculatedInitiative'"
                data-ng-class="{'bg-primary': isSelected(creature)}">
                <td>{{creature.calculatedInitiative}}</td>
                <td>{{creature.name}}</td>
                <td>{{creature.initiative}}</td>
                <td>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default"
                                data-ng-click="selectCreatureToUpdate(creature)"><span
                                class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-default" data-ng-click="deleteCreature(creature)"><span
                                class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
            <tr data-ng-if="isAnEncounterSelected() && selectedEncounter.creatures.length == 0">
                <td>No creatures yet</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr data-ng-if="!isAnEncounterSelected()">
                <td>No encounter selected</td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>

    </div>
    <button class="btn btn-default" data-ng-click="calculateInitiatives()">Calculate</button>
    <button class="btn btn-danger" data-ng-click="resetCreatures()">Reset</button>
</div>