<div data-ng-init="init()" data-ng-cloak class="ng-cloak">

    <div id="creatureTokenOverview">
        <div class="creature-token-list" data-ng-show="isCreatureTokenListOpen">
            <div data-ng-repeat="creature in creatures | orderBy : creature.name" class="token-container" data-ng-drag="true" data-ng-drag-success="onCreatureDragComplete($data, $event)" data-ng-drag-data="creature">
                <img src="" class="img-circle token medium" alt="token image" data-ng-src="{{creature.imageSource}}" />
                <p class="text-center">{{creature.name}}</p>
            </div>
        </div>
        <button class="btn btn-primary open-creature-token-list" data-ng-click="isCreatureTokenListOpen = true" data-ng-hide="isCreatureTokenListOpen">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button class="btn btn-primary close-creature-token-list" data-ng-click="isCreatureTokenListOpen = false" data-ng-show="isCreatureTokenListOpen">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
    </div>

    <div class="row-fluid">
        <encounter-control></encounter-control>
    </div>

    <div class="garbage-bin row-fluid"
         data-ng-drop="true"
         data-ng-drop-success="deleteToken($data)">
        <span class="glyphicon glyphicon-trash"></span>
    </div>
    <div data-ng-if="isEncounterSelected()">
        <board-control></board-control>
    </div>
</div>