<div ng-init="init()" ng-swipe-right="pageService.goToAdmin()" ng-cloak class="ng-cloak">

    <div id="creatureTokenOverview">
        <div class="creature-token-list" data-ng-show="isCreatureTokenListOpen">
            <div data-ng-repeat="creature in creatures | orderBy : creature.name" class="token-container" ng-drag="true" ng-drag-success="onCreatureDragComplete($data, $event)" ng-drag-data="creature">
                <img src="" class="img-circle token medium" alt="token image" ng-src="{{creature.imageSource}}" />
                <p class="text-center">{{creature.name}}</p>
            </div>
        </div>
        <button class="btn btn-primary open-creature-token-list" data-ng-click="isCreatureTokenListOpen = true" data-ng-hide="isCreatureTokenListOpen">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button class="btn btn-primary close-creature-token-list" data-ng-click="isCreatureTokenListOpen = false" data-ng-show="isCreatureTokenListOpen">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
    </div>

    <div class="row-fluid">
        <encounter-control></encounter-control>
    </div>

    <board-control></board-control>
    <!--<div class="container-fluid" style="overflow: auto; height: 90vh" panhandler>-->
        <!--<div id="board" board>-->
        <!--</div>-->
    <!--</div>-->
</div>