<div ng-init="init()" ng-swipe-right="pageService.goToAdmin()" ng-cloak class="ng-cloak">
    <div class="col-md-12" ng-repeat="message in messageService.getMessages()">
        <div ng-class="message.class">
            <button type="button" class="close" data-dismiss="alert" ng-click="messageService.removeMessage(message)">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            {{message.text}}
        </div>
    </div>
    <!--<div >-->
        <!--<div ng-repeat="creature in creatures" class="col-sm-12 creature well" ng-class="getCreatureClass($index)" ng-click="nextTurn($index)">-->
            <!--<div class="col-sm-2"><img class="img-circle" alt="token image" ng-src="{{creature.imageSource}}" style="width: 140px; height: 140px;padding: 4px;border: 3px rgb(131, 131, 131)solid;background-color: rgb(236, 236, 236);"></div>-->
            <!--<h1 class="col-sm-8"><strong>{{creature.name}}</strong></h1>-->
            <!--<h2 class="col-sm-1"><span class="label" ng-class="getInitiativeClass($index)">{{creature.calculatedInitiative}}</span></h2>-->
        <!--</div>-->
    <!--</div>-->
    <div id="creatureTokenOverview">
        <div class="creature-token-list" ng-show="isCreatureTokenListOpen">
            <div ng-repeat="creature in creatures | orderBy : creature.name" class="token-container" ng-drag="true" ng-drag-data="creature">
                <img class="img-circle token-md" alt="token image" ng-src="{{creature.imageSource}}" />
                <p class="text-center">{{creature.name}}</p>
            </div>
        </div>
        <button class="btn btn-primary open-creature-token-list" ng-click="isCreatureTokenListOpen = true" ng-hide="isCreatureTokenListOpen">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        <button class="btn btn-primary close-creature-token-list" ng-click="isCreatureTokenListOpen = false" ng-show="isCreatureTokenListOpen">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </button>
    </div>

        <div id="test-drop" ng-drop="true" ng-drop-success="onDropComplete($data, $event)" style="width: 100%; height: 200px;"></div>
    <div class="container-fluid" style="overflow: auto; height: 90vh" panhandler>
        <div id="board" board>
        </div>
    </div>
</div>