<div class="ng-cloak col-md-12" data-ng-cloak data-ng-init="init()" data-ng-swipe-left="pageService.goToAdmin()" >
    <div >
        <div data-ng-repeat="creature in orderedCreatures = (creatures | orderBy : ['turnCount', '-calculatedInitiative'])" class="col-sm-12 creature well" data-ng-class="getCreatureClass($index)" data-ng-click="nextTurn()">
            <div class="col-sm-2"><img src="" class="img-circle token large" alt="token image" data-ng-src="{{creature.imageSource}}"></div>
            <h1 class="col-sm-8"><strong>{{creature.name}}</strong></h1>
            <h2 class="col-sm-1"><span class="label" data-ng-class="getInitiativeClass($index)">{{creature.calculatedInitiative}}</span></h2>
        </div>
    </div>
    <div class="col-sm-12" data-ng-if="creatures.length == 0">
        <h2 class="text-center">No creatures yet</h2>
    </div>
</div>